.card {
  background-color: var(--color-elements);
  border-radius: 0.5rem;
  box-shadow: 0 4rem 2rem rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
  overflow: hidden;
  cursor: pointer;
}
.card:hover {
  box-shadow: 0 4rem 2rem rgba(0, 0, 0, 0.3);
}
.imageHolder {
  height: 20rem;
  background-size: cover;
  background-position: center;
}
.detailWrapper {
  padding: 3rem;
  letter-spacing: 0.5px;
}
.name {
  font-size: 1.6rem;
  margin-bottom: 1.5rem;
}
.detail {
  font-size: 1.4rem;
  font-weight: 600;
}
.detail:not(:last-child) {
  margin-bottom: 1rem;
}
.result {
  font-weight: 300;
}
.hidden {
  display: none;
}
