.card {
  transition: opacity 300ms;
  background-color: var(--color-elements);
  min-height: 30rem;
  border-radius: 1rem;
  overflow: hidden;
  cursor: pointer;
  transition: box-shadow 0.3s;
}
.card:hover {
  box-shadow: 0 2rem 2rem rgba(0, 0, 0, 0.3);
}
.imageHolder {
  height: 20rem;
  width: 100%;
  background-color: rgba(32, 178, 171, 0.521);
  background-size: cover;
  background-position: center;
  background-origin: 50% 50%;
}
/* img {
  height: 100%;
} */

.enter {
  opacity: 0;
}
.entering {
  opacity: 1;
}

.details {
  padding-left: 2rem;
  padding-bottom: 2rem;
}

.card__header {
  font-size: 2rem;
  font-weight: 600;
  margin-top: 2rem;
  margin-bottom: 1.5rem;
}
.card__detail {
  font-size: 1.6rem;
  margin-bottom: 0.7rem;
}
.card__detail__header {
  font-weight: 600;
}
.card__detail__data {
  opacity: 0.8;
  margin-left: 0.1rem;
}
