.countryContainer {
  background-color: var(--color-background);
  padding: 2rem 10rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  justify-content: space-between;
  grid-row-gap: 5rem;
  grid-column-gap: 5rem;
}
