.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2.5rem 10rem;
  background-color: var(--color-background-header);
}
.primaryHeading {
  font-size: 3rem;
}
