.container {
  display: flex;
  align-items: center;
  font-size: 1.6rem;
  font-weight: 600;
  cursor: pointer;
}
.iconHolder {
  margin-right: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.icon {
  width: 3rem;
  height: auto;
  filter: invert(var(--color-svg));
}
