@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;600;800&display=swap");

/* style reset */

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  transition: background-color 0.3s ease-in-out;
}
.light-mode {
  --color-text: hsl(200, 15%, 8%);
  /* --color-background: hsl(0, 0%, 98%); */
  --color-background: hsl(0, 0%, 95%);
  --color-background-header: hsl(0, 0%, 100%);
  --color-elements: hsl(0, 0%, 100%);
  --color-input: hsl(0, 0%, 90%);
  --color-svg: 0;
}
.dark-mode {
  --color-text: hsl(0, 0%, 100%);
  --color-background: hsl(207, 26%, 17%);
  --color-background-header: hsl(207, 26%, 17%);
  --color-elements: hsl(209, 23%, 22%);
  --color-input: hsl(209, 23%, 22%);
  --color-svg: 1;
}

html {
  font-size: 62.5%;
  font-family: "Nunito Sans", sans-serif;
}
@media only screen and (max-width: 780px) {
  html {
    font-size: 50%;
  }
}

body {
  box-sizing: border-box;
  color: var(--color-text);
}

.App {
  background-color: var(--color-background);
  min-height: 100vh;
}
